<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Técnico - Sucesso</title>
    <link rel='icon' href="/images/logo.png">
    <link rel='stylesheet' href='/stylesheets/geral/devolutiva.css' />
    <link rel='stylesheet' href='/fontawesome/css/all.css' />
  </head>
  <body>
    <div class="container">
      <h2>O cadastro foi efetuado</h2>
      <p>O número identificador será utilizado durante as solicitações de validações.</p>
      <p>Anote o seu número identificador: <span><%= identificador %></span></p>
      <a href="/">
        <i class="fas fa-home"></i>
      </a>
      <a href="/tecnicos">
        <i class="fas fa-user-plus"></i>
      </a>
    </div>
  </body>
</html>