@import '../variaveis';

* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  // visual
  background-color: $vermelho;
  min-height: 100vh;
  margin: 0;
  
  // disposição
  display: flex;
  justify-content: center;
  align-items: center;

  @import '../formularios';
}